#Main Clock
NET "CLK"     LOC = P51;
NET "CLK"     TNM_NET = "CLK";
TIMESPEC "TS_CLK" = PERIOD "CLK" 20 ns HIGH 50%;


#BOARD LED's
NET LED<0>     LOC = P134;
NET LED<1>     LOC = P137;

#Button
NET BUTTON<0>  LOC = P138;
NET BUTTON<1>  LOC = P60;

#FPGA Controls
NET RST        LOC = P111;
